.monkey-js-css-beautify {
  body {
    padding-top: 20px;
    padding-left: 5px;

    .beautify_checkbox {
      top: 0;
      left: 0;
      z-index: 999;
      width: 100vw;
      display: flex;
      position: fixed;
      padding: 5px 10px;
      user-select: none;
      align-items: center;
      background-color: #f3f3f3;
      border-bottom: 1px solid #ccc;

      label {
        font-size: 13px;
      }

      input[type="checkbox"] {
        top: 1.5px;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        position: relative;
      }
    }
  }
}
