$fz12: 12px;
$fz13: 13px;
$fz14: 14px;
$color-e9: #e9e9e9;
$color-gray: #ccc;
$tab-color: #ececec;

body,
html {
  margin: 0;
  padding: 0;
  font-size: $fz14;

  td {
    font-size: $fz14;
  }

  li::marker {
    content: "";
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: 0;
  }
}

.hidden {
  display: none !important;
}

.layui-layer-tips {
  width: auto !important;
}

.format-container {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /** 工具栏样式 START **/
  .tabs,
  .toolbar {
    display: flex;
    line-height: 28px;
    background-color: $tab-color;
    border-bottom: 1px solid $color-gray;
  }

  .toolbar {
    line-height: 23px;

    .searchbox {
      display: flex;
      flex-grow: 1;

      input {
        flex-grow: 1;
        border: none;
        outline: none;
        font-size: $fz12;
        padding-left: 23px;
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 7px center;
        background-image: url(data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIGZpbGw9InJnYmEoMTM1LCAxMzUsIDEzNywgMC45KSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTIgMTIiPgogIDxwYXRoIGZpbGw9ImNvbnRleHQtZmlsbCIgb3BhY2l0eT0iLjQiIGQ9Ik01IDkuMmwyIDEuNlY2LjFMOC41NSA0aC01LjFMNSA2LjF2My4xeiIvPgogIDxwYXRoIGZpbGw9ImNvbnRleHQtZmlsbCIgZD0iTTEuMTggMi42QTEgMSAwIDAgMSAyIDFIMTBhMSAxIDAgMCAxIC44IDEuNkw4IDYuNHY0LjgyYzAgLjYzLS43Mi45OC0xLjIyLjZsLTIuNS0xLjk5QS43NS43NSAwIDAgMSA0IDkuMjVWNi40MUwxLjE4IDIuNnpNMiAyTDUgNi4wOXYzLjA0bDIgMS41OVY2LjA5TDEwLjAxIDJIMnoiLz4KPC9zdmc+Cg==);
      }

      .clear {
        flex: 0 0 auto;
        align-self: center;
        margin: 0 4px;
        padding: 0;
        border: 0;
        width: 16px;
        height: 16px;
        background-color: transparent;
        background-image: url(data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGZpbGw9ImNvbnRleHQtZmlsbCIgZmlsbC1vcGFjaXR5PSJjb250ZXh0LWZpbGwtb3BhY2l0eSI+CiAgPHBhdGggZD0iTTYuNTg2IDhsLTIuMjkzIDIuMjkzYTEgMSAwIDAgMCAxLjQxNCAxLjQxNEw4IDkuNDE0bDIuMjkzIDIuMjkzYTEgMSAwIDAgMCAxLjQxNC0xLjQxNEw5LjQxNCA4bDIuMjkzLTIuMjkzYTEgMSAwIDEgMC0xLjQxNC0xLjQxNEw4IDYuNTg2IDUuNzA3IDQuMjkzYTEgMSAwIDAgMC0xLjQxNCAxLjQxNEw2LjU4NiA4ek04IDBhOCA4IDAgMSAxIDAgMTZBOCA4IDAgMCAxIDggMHoiLz4KPC9zdmc+Cg==);
      }
    }
  }

  .tabs-item {
    border-width: 3px;
    border-top: 3px solid $tab-color;

    &.active {
      color: #0060df;
      border-top-color: #0060df;
      background-color: $color-e9;
    }

    &:hover {
      border-top-color: #c3c3c6;
    }
  }

  .tabs-item,
  .toolbar-item {
    cursor: pointer;
    padding: 0 10px;
    font-size: $fz12;

    &:hover {
      background-color: #d4d4d4;
    }
  }

  .tabs .selectbox {
    position: absolute;
    right: 200px;
    display: flex;
    font-size: $fz13;
  }

  .inputJson,
  .fetchApi {
    cursor: pointer;
    color: #0060df;
    margin-left: 15px;
  }
  /** 工具栏样式 END **/

  /** 容器样式 START **/
  .tabs-container {
    flex-grow: 1;
    overflow: auto;
    line-height: 1.4;
    font-family: monospace;

    > div {
      display: none;
    }

    > div.active {
      display: block;
    }

    #formatContainer {
      padding: 10px;
    }

    #rawTextContainer {
      padding: 0 10px;
    }

    #rawTextContainer pre {
      display: block !important;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
  }
  /** 容器样式 END **/

  /** JSON 格式化样式 START **/
  .jsonp {
    color: #93983a;
  }

  ul.json-object,
  ul.json-array {
    margin: 0 0 0 2px;
    list-style-type: none;
    border-left: 1px dotted #5d6d7e;
    padding-left: 24px;
  }

  .json-brackets {
    font-weight: 700;
  }

  .json-key {
    color: #910f93;
    // color: #860FA8;
    cursor: pointer;
  }

  .json-string,
  .json-string a {
    // color: #4b8a4c;
    color: #2e7c16;
  }

  .json-number {
    // color: #1a01cc;
    color: #164ff1;
  }

  .json-boolean {
    color: #905;
    // color: #0033B3;
  }

  .json-null {
    // color: #0031bc;
    color: #228fec;
  }

  a.json-toggle {
    position: rElative;
    color: inherit;
    opacity: 0.2;
    text-decoration: none;

    &:hover {
      opacity: 0.35;
    }

    &:active {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }

    &:before {
      top: 2.5px;
      left: -15px;
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 8px;
      border-color: transparent transparent transparent currentColor;
      transform: rotate(90deg);
    }

    &.collapsed:before {
      transform: rotate(0deg);
    }
  }

  a.json-placeholder {
    color: $color-gray;
    font-size: $fz12;
    padding: 0 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .json-curly-brackets {
    color: #6d9331;
  }

  .json-square-brackets {
    color: #8e9331;
  }

  /** 脑图样式 START **/
  #jmContainer {
    width: 100vw;
    height: calc(100vh - 57px);

    jmnode {
      display: flex;
      align-items: center;
      padding: 0 7px 0 22px;
      color: #475872 !important;
      box-shadow: none !important;
      background-color: transparent !important;

      &.root {
        padding: 0;
        color: transparent !important;
      }

      &::before {
        content: "";
        top: 50% !important;
        margin-top: 1.5px;
        position: absolute;
        border-radius: 50%;
        transform: translateY(-50%);
      }

      &.root::before {
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-18px, -50%);
      }

      &:hover {
        text-shadow: 0px 0px 1px currentColor;
      }

      &:not(.root)::before {
        left: 0;
        width: 15px;
        height: 15px;
      }
    }

    jmexpander {
      margin-top: 1px;
      line-height: 9px;
    }

    .datatype {
      opacity: 0.6;
      font-size: $fz12;
      margin-top: 2px;
      padding-left: 5px;
    }
  }
  /** 脑图样式 END **/

  /** 表格样式 START **/
  table {
    width: -webkit-fill-available;
    margin-left: 20px;
    border-collapse: collapse;

    tr:hover {
      background-color: #f0f9fe;
    }

    tr.selected td,
    tr.selected td a {
      color: #fff !important;
      background-color: #3875d7;
    }

    tr td:first-child {
      width: 120px;
    }

    .tree-len {
      color: $color-gray;
      font-size: $fz13;
    }

    .simple-tree-table-icon {
      color: #000;
      opacity: 0.2;
      width: 0 !important;
      margin: 0 !important;
      line-height: 0 !important;

      &::before {
        top: 0.5px;
        left: -15px;
        position: relative;
        content: "";
        width: 0;
        height: 0;
        display: none;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent currentColor;
        transform: rotate(90deg);
      }

      &::hover {
        opacity: 0.35;
      }

      &::after {
        content: "" !important;
      }

      &::active {
        opacity: 0.5;
      }
    }

    .simple-tree-table-opened {
      .simple-tree-table-icon:before {
        display: block;
      }
    }

    .simple-tree-table-closed {
      .simple-tree-table-icon:before {
        display: block;
        transform: rotate(0deg);
      }
    }
  }
  /** 表格样式 END **/
}

/** tabs 右边操作选项 START **/
.httpRequest {
  padding: 20px;

  input,
  select {
    border-radius: 0;
    padding-left: 10px;
    border: 1px solid $color-gray;
  }
}

.requestbox,
.textarea {
  width: 700px;
  display: flex;
}

.requestbox {
  height: 35px;
  margin-bottom: 15px;

  input {
    flex-grow: 1;
  }

  button {
    cursor: pointer;
    padding: 0 15px;
    border: 1px solid $color-gray;

    &:active {
      background-color: #cfcfcf;
    }
  }
}

.textarea input {
  flex-grow: 1;
  height: 30px;
}
/** tabs 右边操作选项 END **/

/**浅色主题 START **/
.light {
  .json-key {
    // color: #0451a5;
    color: #0040cf;
  }

  .json-string,
  .json-string a {
    color: #a31515;
  }

  .json-number {
    color: #0b7500;
  }

  .json-boolean {
    color: #0000ff;
  }

  .json-null {
    color: #0055ff;
  }
}

/**浅色主题 END **/
/** 暗黑主题 START **/
body.dark,
body.dark_IntelliJ {
  $color: #464646;
  $color_333: #333333;
  $color_c4: #c4c4c4;
  $bd_color: #64b7ff;

  .format-container {
    li,
    pre {
      color: $color-gray;
    }

    .tabs,
    .toolbar {
      color: $color_c4;
      border-bottom-color: $color;
      background-color: $color_333;

      .tabs-item {
        border-top-color: $color_333;

        &.active {
          color: $color_c4;
          border-top-color: $bd_color;
          background-color: $color;
        }
      }

      .tabs-item,
      .toolbar-item {
        &:hover {
          border-top-color: $bd_color;
          background-color: $color;
        }
      }
    }

    .searchbox {
      input {
        color: $color-gray;
        background-color: $color;
        border-left: 1.5px solid $color_333;
      }
      .clear {
        filter: invert(0.8);
      }
    }

    .selectbox {
      select {
        border: 0;
        color: $color_333;
        background-color: $color-gray;
      }
      .inputJson,
      .fetchApi {
        color: #85c6ff;
      }
    }

    .jsonp {
      color: #f1d700;
    }

    .json-toggle {
      opacity: 0.35;

      &:hover {
        opacity: 0.5;
      }
    }

    jmnode {
      filter: brightness(2);
    }

    jmexpander {
      background-color: #dfdfdf;
    }

    table tr:hover {
      background-color: #353b48;
    }

    .simple-tree-table-icon {
      color: #fff;
      opacity: 0.5;
    }
  }
}
body.dark {
  .format-container {
    .tabs-container {
      background-color: #252526;
    }

    .json-curly-brackets {
      color: #ce70d6;
    }

    .json-square-brackets {
      color: #f1d700;
    }

    .json-key {
      color: #9cdcfe;
    }

    .json-string,
    .json-string a {
      color: #ce9178;
    }

    .json-number {
      color: #b5cea8;
    }

    .json-boolean {
      color: #358cd6;
    }

    .json-null {
      color: #569cd6;
    }
  }
}
/** 暗黑主题 END **/
/** 第二个暗黑主题 START **/
body.dark_IntelliJ {
  .format-container {
    .tabs-container {
      background-color: #1e1f22;
    }

    .json-curly-brackets {
      color: #bb9667;
    }

    .json-square-brackets {
      color: #bbbda3;
    }

    .json-key {
      color: #c77dbb;
    }

    .json-string,
    .json-string a {
      color: #499472;
    }

    .json-number {
      color: #27abb7;
    }

    .json-boolean {
      color: #ce8d66;
    }

    .json-null {
      color: #c06235;
    }
  }
}
/** 第二个暗黑主题 END **/
